.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2px;
	height: 30px;

	&__arrow {
		width: 20px;
		height: auto;
	}

	&__page {
		width: 50px;
		height: 100%;
		background-color: #f8f9fa;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__button {
		height: 100%;
		width: 30px;
		background-color: #f8f9fa;
		border: 0;
		border-radius: 4px;

		&:hover {
			box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
			cursor: pointer;
		}
	}
}
