h1 {
	font-size: 80px;
	letter-spacing: -3px;
	cursor: default;
}

// The following classes do not represent the color displayed on the screen
// I figured it would probably be a good idea not to steal the exact colours from Google
.google_blue {
	color: #7142f3;
}

.google_red {
	color: #ea35b7;
}

.google_yellow {
	color: #fa9405;
}

.google_green {
	color: #33a875;
}
